* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("/resources/background.png");
    background-repeat: repeat;
}
header, footer {
    background-color: #552D62;
    text-align: left;
}
main {
    flex: 1 0 auto;
    margin-bottom: 50px;
}
footer {
    flex-shrink: 0;
}

.headertext {
    color: #ffffff;
}
h1.headertext.main {
    display: inline-block;
    padding: 15px 20px 15px 20px;
}
.headertext.login {
    display: block;
}
p.headertext.login {
    font-size: 20px;
    margin-bottom: 15px;
}
h1.headertext.login {
    padding: 30px 0px 15px 0px;
}
p.invalid, li.invalid {
    font-size: 16px;
    color: #ff0000;
}
p.invalid.mainscreen {
    margin: 20px 0px 20px 0px;
}
ul.invalid {
    list-style-type: none;
}

#loginbox {
    background-color: #552D62;
    text-align: center;
    width: 20%;
    min-width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.logincontent {
    margin: 0px 20px 0px 20px;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
}
.loginfieldcontainer {
    margin: 10px 0px 10px 0px;
}
.loginredirect {
    display: inline-block;
    margin-bottom: 20px;
}
input[type=text], input[type=password] {
    font-family: "Lato", Arial, sans-serif;
    font-size: 18px;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    width: 100%;
}
label.logincontent {
    display: block;
}

div.switchdiv {
    display: table;
    margin-top: 5px;
}
p.switchtext {
    display: table-cell;
    vertical-align: bottom;
}
p.switchtext.left {
    padding: 0px 10px 10px 0px;
}
p.switchtext.right {
    padding: 0px 0px 10px 10px;
}
.switchinput {
    display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999999;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
input:checked + .slider {
    background-color: #5c5c5c;
}
input:focus + .slider {
    box-shadow: 0 0 1px #5c5c5c;
}
input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

#navpanel {
    width: 0;
    height: 360px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 60px 0px 0px 0px;
    background-color: #262626;
    overflow-x: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
#navpanel a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
#navpanel a:hover {
    color: #886C91
}
#navpanel #navclose {
    position: absolute;
    top: 0;
    font-size: 36px;
}
#navopen {
    color: #ffffff;
    background-color: #552D62;
    font-size: 36px;
    padding: 0px 0px 0px 30px;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
#navopen:hover {
    color: #999999;
}

div.subheader {
    padding: 0px 0px 20px 0px;
}
h1.pagetitle {
    color: #000000;
    margin: 20px 30px 0px 30px;
    font-weight: normal;
    display: inline-block;
}
div.pagetitlebut {
    float: right;
    margin: 15px 30px 0px 30px;
}
form.pagetitlebut {
    float: right;
}
button.pagetitlebut, button.createbutton {
    border: none;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    min-width: 180px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
button.createbutton {
    margin: 5px 10px 0px 0px;
}
button.pagetitlebut.archive, button.createbutton.cancel {
    color: #ffffff;
    background-color: #262626;
}
button.pagetitlebut.archive {
    margin: 5px 0px 0px 0px;
}
button.pagetitlebut.archive:hover, button.createbutton.cancel:hover {
    background-color: #999999;
}
button.pagetitlebut.newcontent, button.createbutton.create {
    color: #ffffff;
    background-color: #552D62;
}
button.pagetitlebut.newcontent {
    margin: 5px 0px 0px 10px;
}
button.pagetitlebut.newcontent:hover, button.createbutton.create:hover {
    background-color: #886C91;
}

hr.pagetitle {
    background-color: #552D62;
    border: none;
    height: 2px;
    margin: 0px 20px 0 20px;
}

div.screencontent {
    margin: 10px 40px 10px 40px;
}
div.screenpanel {
    background-color: #ffffff;
    border: 1px solid #262626;
    margin: 0px 0px 10px 0px;
}
div.screenpanelcontents {
    width: 100%;
    display: table-cell;
}
form.selectnext {
    display: table-cell;
    vertical-align: middle;
}
h2.screenpanel, h3.screenpanel {
    color: #000000;
    font-weight: normal;
}
h2.screenpanel.discussion {
    padding: 20px 20px 20px 20px;
}
h3.screenpanel.topic {
    padding: 20px 20px 10px 20px;
}
p.screenpanel {
    font-size: 16px;
}
p.screenpanel.topic {
    color: #000000;
    padding: 0px 20px 20px 20px;
}
p.screenpanel.created {
    color: #5c5c5c;
    padding: 0px 20px 10px 20px;
}
div.statcontainer {
    margin: 0px 10px 10px 10px;
}
div.statdiv, button.statdiv {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
div.statdiv.nonselect {
    cursor: default;
}
form.statform {
    display: inline-block;
}
button.statdiv, button.screenpanelnext {
    background-color: transparent;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
button.statdiv:hover, button.screenpanelnext:hover {
    opacity: 0.4;
}
img.screenpanelnext {
    vertical-align: middle;
}
@media (max-width: 299px) {
	img.screenpanelnext {
        width: 45px;
        height: 45px;
	}
}
@media (min-width: 300px) {
	img.screenpanelnext {
        width: 60px;
        height: 60px;
	}
}
p.stattext {
    color: #000000;
    font-size: 16px;
    display: inline;
    vertical-align: top;
}
img.staticon {
    display: inline;
    height: 24px;
    width: 24px;
}

label.createscreen, p.switchtext.right.createscreen {
    font-size: 18px;
    color: #000000;
}
input.createscreen[type=text] {
    margin-top: 5px;
}
div.switchdiv.createscreen {
    margin-top: 20px;
}
div.createbuttoncontainer {
    margin: 35px 0px 0px 0px;
}

#logout {
    float: right;
    padding: 15px 20px 15px 10px;
}
.logoutcontent {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
}
p.logoutcontent {
    color: #ffffff;
}
button.logoutcontent {
    border: none;
    padding: 3px 5px 3px 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
button.loginbutton {
    color: #ffffff;
    background-color: #262626;
    border: none;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0px 20px 0px;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
button.logoutcontent:hover, button.loginbutton:hover {
    background-color: #999999;
}
button.loginbutton:hover {
    color: #000000;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
button {
    cursor: pointer;
}

p, h1, h2, h3, a, button, label, li {
    font-family: "Lato", Arial, sans-serif;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
p.footertext, a.footerlink {
    color: #ffffff;
    font-size: 14px;
}
p.predirect, a.linkredirect {
    color: #ffffff;
    font-size: 16px;
}
a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
a:hover {
    color: #999999;
}
#footertextcontainer {
    display: inline-block;
    padding: 15px 0px 15px 20px;
}
#footerlogo {
    width: 68px;
    height: 34px;
    float: left;
    padding: 15px 0px 0px 20px;
}
