<img id="footerlogo" src="resources\warwicklogo.png"></img>
<div id="footertextcontainer">
    <p class="footertext">&#169; 2021-2022 Fras Healey</p>
    <p class="footertext">Developed by Fras Healey (1928864)</p>
</div>