<img id="footerlogo" src="resources\warwicklogo.png"></img>
<div id="footertextcontainer">
	<p class="footertext">&#169; 2021-2022 Fras Healey</p>
	<p class="footertext">Developed by <a id="repolink" href="https://github.com/frashealey/WM393_DiscussionBoard" target="_blank" rel="noopener noreferrer">Fras Healey (1928864)</a></p>
</div>