<button id="navopen" onclick="navOpen()">☰</button>

<h1 class="headertext">WMGTSS</h1>
<div id="signout">
	<p class="signoutcontent">Logged in: u0000000</p>
	<button class="signoutcontent">Logout</button>
</div>

<div id="navpanel">
	<a id="navclose" href="javascript:void(0)" onclick="navClose()">☰</a>
	<a>Discussions</a>
	<a>Lectures</a>
	<a>Calendars</a>
	<a>Notices</a>
	<a>Q&A</a>
	<a>Resources</a>
	<a>Files</a>
	<a>Quizzes</a>
	<a>Feedback</a>
</div>