<!-- <nav>
    <a class="active">Home</a>
    <a>News</a>
    <a>Contact</a>
    <a>About</a>
</nav> -->
<h1 class="headertext">WMGTSS</h1>
<nav id="nav-bar">
	<a class="active">Discussions</a>
	<a>Lectures</a>
	<a>Calendars</a>
	<a>Notices</a>
	<a>Q&A</a>
	<a>Resources</a>
	<a>Files</a>
	<a>Quizzes</a>
	<a>Feedback</a>
</nav>