<!DOCTYPE html>
<html>
  <head>
    <%- include("head"); %>
  </head>
  <body>
    <main>
      <div id="loginbox">
        <h1 class="headertext login">WMGTSS</h1>
        <p class="headertext login">Login</p>

        <ul class="invalid">
          <% if (messages.error) { %>
          <li class="invalid"><%= messages.error %></li>
          <% } %>
        </ul>

        <div class="logincontent">
          <form action="/login" method="POST">
            <div class="loginfieldcontainer">
              <label for="id">University ID:</label>
              <input class="loginput" type="text" name="id">
            </div>

            <div class="loginfieldcontainer">
              <label for="pw">Password:</label>
              <input class="loginput" type="password" name="pw">
            </div>

            <button class="loginbutton" type="submit">Login</button>
          </form>

          <div class="loginredirect">
            <p class="predirect">Don't have an account?</p>
            <a class="linkredirect" href="/register">Register</a>
          </div>
        </div>

      </div>
    </main>
    <footer>
      <%- include("footer"); %>
    </footer>
  </body>
</html>
