<!DOCTYPE html>
<html>
  <head>
    <%- include("head"); %>
  </head>
  <body>
  <header>
    <%- include("header"); %>
  </header>
  <div class="subheader">
    <h1 class="pagetitle">New topic</h1>
  </div>
  <main>
    <hr class="pagetitle">

    <div class="screencontent">

      <form action="/createtopic" method="POST">
        <label class="createscreen" for="topicname">Name:</label>
        <input class="createscreen" type="text" name="topicname">

        <!-- add in textarea -->

        <%if (typeof(message) != "undefined") { %>
          <p class="invalid mainscreen"><%=message%></p>
        <% } %>

        <div class="createbuttoncontainer">
            <!-- change href -->
          <a href="/topics"><button class="createbutton cancel" type="button">&#60; Cancel</button></a>
          <button class="createbutton create" type="submit">Create &#62;</button>
        </div>
      </form>

    </div>

  </main>
  <footer>
    <%- include("footer"); %>
  </footer>
  </body>
</html>
