* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header, footer {
    background-color: #552D62;
    text-align: left;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* .icon {
    vertical-align: middle;
} */

.headertext {
    color: #ffffff;
}
h1.headertext {
    font-family: "Lato", Arial, sans-serif;
    display: inline-block;
    padding: 15px 20px 15px 20px;
}

nav {
    overflow: hidden;
    display: inline-block;
    /* padding: 0px; */
    /* height: 100%; */
    vertical-align: top;
}
nav a {
    float: left;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    background-color: #bbbbbb;
    color: black;
}
nav a.active {
    background-color: #886C91;
    color: #ffffff;
}

p, a {
    font-family: "Lato", Arial, sans-serif;
}
p.footertext, a {
    color: #ffffff;
    font-size: 14px;
}
#footertextcontainer {
    display: inline-block;
    /* display: inline; */
    padding: 15px 0px 15px 20px;
}
#footerlogo {
    width: 68px;
    height: 34px;
    float: left;
    padding: 15px 0px 15px 20px;
}
